html, body, div, span, footer, header, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}


.container {
    margin-left: auto;
    margin-right: auto;
    width: 80em;
}


body {
    background: #f7f8fb;
}

body, input, select, textarea {
    color: #9a9a9a;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: 400;
    line-height: 1.65;
}

.inner {
    max-width: 75em;
    margin: 0 auto;
}

#header {
    background-color: white;
    color: black;
    cursor: default;
    height: 4em;
    left: 0;
    line-height: 3.25em;
    text-align: right;
    width: 100%;
    z-index: 10001;
    position: sticky;
    top: 0;

    animation: bounceIn 0.6s;
    transform: rotate(0deg) scale(1) translateZ(0);
    animation: 1s ease-in-out 0s 1 slideInFromTop;
}

#header .inner {
    margin: 0 auto;
    bottom: -10px;
    position: relative;
}

#header .logo {
    display: inline-block;
    left: 0;
    padding: 0;
    position: absolute;
}

#header .logo img {
    height: 50px;

}

#header a {
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    display: inline-block;
    padding: 0;
    color: inherit;
    text-decoration: none;
    font-size: 1em;
}

#header a:hover {
    color: #c47005;
}

#header a.navPanelToggle {
    display: none;
    text-decoration: none;
    height: 4em;
    width: 4em;
    z-index: 10003;
}

#header a.navPanelToggle .fa {
    font-size: 1.25em;
}

#header .fa-bell {
    margin: 12px;
    color: gray;
}


#footer {
    padding: 1em 0;
    background: #fff;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

#footer label {
    text-align: left;
    font-size: medium;
    color: #FFF;
}

#footer .copyright {
    color: rgba(0, 0, 0, 0.6);
    font-size: 1em;
    margin: 0;
    padding: 0;
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .copyright a:hover {
    color: rgba(253, 154, 26, 0.85);
    font-weight: 400;
}


.card-grid {
    height: 100vh;
    padding-top: 2em;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
    max-height: 800px;
    justify-content: center;
    perspective: 800px;
}

.cell {
    display: grid;
    margin: auto;
    grid-template-areas: "overlap";
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.front,
.back {
    margin: auto;
    height: -webkit-fill-available;
    grid-area: overlap;
    display: flex;
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
}

.front figcaption,
.back figcaption {
    width: inherit;
}


.cell--1 {
    grid-column: 1 / 4;
    grid-row: 1 / 8;
    transform: 1s all ease-in-out;
}

.cell--1:hover {
    transform: rotateY(180deg);
}

.cell--1 .front {
    background: #fdfdfe;
}

.cell--1 .back {
    background: #fdfdfe;
    transform: rotateY(180deg);
    align-items: center;
    justify-content: space-evenly;
}

.cell--1 .back button {
    background: #4a65f5;
    color: white;
    outline: none;
    border: none;
    width: 90px;
    font-size: 20;
    height: 35px;
    border-radius: 5px;

}

.cell--1 img {
    width: inherit;
    margin: auto;
}

.cell--2 {
    grid-column: 1 / 4;
    grid-row: 8 / 15;
    transform: 1s all ease-in-out;
}

.cell--2:hover {
    transform: rotateY(180deg);
}

.cell--2 figcaption {
    font-size: 70px;
    font-weight: 500;
    color: white;
}

.cell--2 .back figcaption,
.cell--3 .back figcaption,
.cell--4 .back figcaption,
.cell--5 .back figcaption,
.cell--6 .back figcaption {
    font-size: 22px;
    font-weight: 700;
    text-align: left;
    color: black;
    margin: 20px;
}

.cell--2 .front {
    align-items: center;
    text-align: center;
    background: #00cc6f;
}

.cell--2 .back {
    background: white;
    transform: rotateY(180deg);
}


.cell--3 {
    grid-column: 4 / 8;
    grid-row: 1 / 11;
}

.cell--3:hover {
    transform: translate(-100%, 0%);
}

.cell--3 figcaption {
    font-size: 85px;
    font-weight: 900;
    color: black;
    margin-right: 20px;
}

.cell--3 .front {
    background: #f5dc6b;
    align-items: flex-end;
    text-align: end;
}

.cell--3 .back {
    background: white;
    transform: translate(100%, 0%);
    transition: .3s ease;
}


.cell--4 {
    grid-column: 4 / 8;
    grid-row: 11 / 15;
    transform: 1s all ease-in-out;
}

.cell--4:hover {
    transform: rotateY(180deg);
}

.cell--4 figcaption {
    font-size: 55px;
    font-weight: 500;
    color: white;
}

.cell--4 .front {
    align-items: center;
    text-align: center;
    background: #ec003b;
}

.cell--4 .back {
    background: white;
    transform: rotateY(180deg);
}

.cell--5 {
    grid-column: 8 / 16;
    grid-row: 1 / 7;
    transform: 1s all ease-in-out;
}

.cell--5:hover {
    transform: rotateY(180deg);
}

.cell--5 figcaption {
    font-size: 80px;
    font-weight: 300;
    font-style: italic;
    color: black;
}

.cell--5 .front {
    align-items: center;
    background: #8176b5;
}

.cell--5 .back {
    background: white;
    transform: rotateY(180deg);
}

.cell--6 {
    grid-column: 8 / 13;
    grid-row: 7 / 15;
    transform: 1s all ease-in-out;
}

.cell--6:hover {
    transform: rotateY(180deg);
}

.cell--6 figcaption {
    font-size: 70px;
    font-weight: 500;
    color: white;
    align-self: center;
}

.cell--6 .front {
    background: #650068;
}

.cell--6 .back {
    background: white;
    transform: rotateY(180deg);
}

.cell--7 {
    grid-column: 13 / 16;
    grid-row: 7 / 10;
    transform: 1s all ease-in-out;
}

.cell--7:hover {
    transform: rotateY(180deg);
}

.cell--7 .front {
    background: #4a59fb;
}

.cell--7 .back {
    background: #fff;
    transform: rotateY(180deg);
    overflow-y: scroll;
}

.cell--7 .front figcaption {
    font-size: 20px;
    font-weight: 500;
    color: white;
    align-self: center;
}

.cell--7 .back figcaption {
    padding: 10px;
    margin: 10px;
    color: black;
}

.cell--8 {
    grid-column: 13 / 16;
    grid-row: 10 / 13;
    background: #3200a1;
    transform: 1s all ease-in-out;
}

.cell--8:hover {
    transform: rotateY(180deg);
}

.cell--8 .front figcaption {
    font-size: 20px;
    font-weight: 500;
    color: white;
    align-self: center;
}

.cell--8 .back figcaption {
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    font-weight: 500;
    color: black;
    align-self: center;
}

.cell--8 .front {
    background: #300096;
}

.cell--8 .back {
    background: #fff;
    transform: rotateY(180deg);
}

.cell--9 {
    grid-column: 13 / 16;
    grid-row: 13 / 15;
    transform: 1s all ease-in-out;
}

.cell--9:hover {
    transform: rotateY(180deg);
}

.cell--9 figcaption {
    font-size: 20px;
    font-weight: 500;
    color: white;
    align-self: center;
}

.cell--9 .front {
    background: #140052;
}

.cell--9 .back {
    background: white;
    transform: rotateY(180deg);
    align-items: center;
    place-content: space-evenly;
}


.dropbtn {
    background-color: #fd9815;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
    outline: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    padding: 0 15px;
}

.dropdown-content a {
    float: left;
    clear: left;
    line-height: 40px;
    display: inline-block;
    width: 100%;
    text-align: initial;
}

.dropdown-content p {
    text-align: center;
    font-size: small;
    height: 35px;
    color: gray;
    margin: 0;
    padding: 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #c47005;
}


.fa {
    padding: 20px;
    font-size: 60px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;

    border-radius: 50%;
    width: fit-content;
    height: fit-content;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    color: #55ACEE;
}

.fa-telegram {
    color: #55ACEE;
}

.fa-instagram {
    color: #55ACEE;
}


.alerts {
    width: 400px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.success-msg,
.error-msg {
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
}

.success-msg {
    color: #fff;
    background-color: rgb(86, 200, 121);
}

.error-msg {
    color: #fff;
    background-color: rgb(216, 72, 88);
}


@keyframes slideInFromTop {
    0% {
        transform: translateY(-200%);
    }
    100% {
        transform: translateY(0);
    }
}
